{% extends '::base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body -%}

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>You can send us a message, as well as view all posts.</p>
    </div>

{% endblock %}
