{% extends '::base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body -%}

    <h1>Contacts</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.body }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
